<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{site.title}}</title>
  <meta name="description" content="{{site.description}}">
  <!-- google fonts -->
  <link defer async href="https://fonts.googleapis.com/css?family=Fira+Sans|Sen:800&display=swap" rel="stylesheet">
  <!-- stylesheet -->
  <link defer async rel="stylesheet" href="{{ "/assets/tabs.css" | relative_url }}">
  <link defer async rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
  <link defer async rel="stylesheet" href="{{ "/assets/media.css" | relative_url }}">
  <link defer async rel="stylesheet" href="{{ "/assets/github.css" | relative_url }}">

  <!-- webmanifest -->
  <link rel="manifest" href="{{site.baseurl}}/manifest.webmanifest">

  {%- seo -%}

  <link rel="canonical" href="{{ site.url }}"/>
  <link rel="apple-touch-icon" href="{{site.baseurl}}/assets/apple-touch-icon.png">

  {%- feed_meta -%}

  <!--  plausible analytics -->
  <script defer data-domain="rustpython.github.io" src="https://plausible.io/js/plausible.js"></script>

</head>
