{% assign result_total = include.pass | plus: include.skip | plus: include.fail %}
{% assign pass_percent = include.pass | times: 100.0 | divided_by: result_total | round: 2 %}
{% assign skip_percent = include.skip | times: 100.0 | divided_by: result_total | round: 2 %}
{% assign fail_percent = include.fail | times: 100.0 | divided_by: result_total | round: 2 %}

{% assign pass_color = "#4c1" %}
{% assign skip_color = "#dfb317" %}
{% assign fail_color = "#fe7d37" %}

{%if include.svg %}

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="244" height="20">
    <g shape-rendering="crispEdges">
      <rect width="49" height="20" fill="#555" />
      <rect x="49" width="65" height="20" fill="{{ pass_color }}" />
      <rect x="114" width="65" height="20" fill="{{ skip_color }}" />
      <rect x="179" width="65" height="20" fill="{{ fail_color }}" />
    </g>
    <g fill="#fff" text-anchor="middle" font-family="Verdana,Geneva,DejaVu Sans,sans-serif"
      text-rendering="geometricPrecision" font-size="110">
      <text x="255" y="140" transform="scale(.1)"
        textLength="390">Results</text>
      <text x="805" y="140" transform="scale(.1)" textLength="550">Pass {{ pass_percent  | round: 1 }}%</text>
      <text x="1455" y="140" transform="scale(.1)" textLength="550">Skip {{ skip_percent | round: 1 }}%</text>
      <text x="2105" y="140" transform="scale(.1)" textLength="550">Fail {{ fail_percent | round: 1 }}%</text>
    </g>
  </svg>
    
{% endif %}

{% if include.table or include.svg == nil or include.svg == false %}

<div class="tbl padding-small">
  <div class="row">
    <div class ="cell">
        <span class="font-secondary">Total Tests: </span>
        {{ result_total }}
    </div>
    <div class ="cell">
      {% if include.extime %}
      <span class="font-secondary">Exec Time: </span>
      {{ include.extime }}
      {% endif %}
    </div>
    
  </div>
  <div class="row">
    <div class="cell">
        <span class="font-secondary">Passed: </span>
        {{ include.pass }} ({{ pass_percent }}%)
    </div>
    <div class="cell">
        <span class="font-secondary">Skipped: </span>
        {{ include.skip }} ({{ skip_percent }}%)
    </div>
    <div class ="cell">
        <span class="font-secondary">Failed: </span>
        {{ include.fail }} ({{ fail_percent }}%)
    </div>
  </div>
  <div class="row" 
    style="background: linear-gradient(to right, 
            green {{ pass_percent }}%, 
              yellow {{ pass_percent }}% {{ skip_percent | plus: pass_percent }}%, 
              red {{ skip_percent | plus: pass_percent }}% {{ fail_percent | plus: pass_percent | plus: skip_percent }}%
            ); 
           height: 40px;">

  </div>
</div>
{% endif %}
