
/* phones  */
@media (max-width: 768px) {

    .mt-sm-1 {
          margin-top: 1em;
      }

    .mt-sm-2 {
        margin-top: 2em;
    }

    .d-sm-none {
        display: none;
    }


    .title {
        font-size: 1.5em;
    }

    .section-title {
      font-size: 1em;
    }

    .d-mobile-none {
      display: none;
    }

    .text-mobile-right {
      text-align: right;
  }

}


/* smaller laptops, tablets */
@media (min-width: 768px) {
    .mt-md-4 {
        margin-top: 4em;
    }

    .pl-md-2{
        padding-left: 2em;
    }

    .d-md-flex {
        display: flex;
    }

    .w-md-50 {
        width: 50%;
    }

    .w-md-25 {
        width: 25%;
    }

    .w-md-80 {
      width: 80%;
    }

    .text-md-center {
      text-align: center;
    }

    .goal:last-child{
      margin-left: 2em;
    }

    .float-md-right {
      float: right;
    }
    
    .row .cell {
      line-height: 30px;
    }

    .text-md-right {
      text-align: right;
    }
      
    .ml-auto {
        margin-left: auto !important;
    }
}

@media (min-width: 1366px) {
  .w-lg-25 {
    width: 25%;
  }
}

/* fixes for ipad  */
@media (min-width: 992px) {

  .w-lg-30 {
    width: 30%;
  }
}
