/* common html elements  */

body {
  font-family: "Fira Sans", sans-serif;
  margin: 0em;
}

section {
  padding: 2em;
}

a {
  color: #000;
}

p,
li {
  line-height: 1.75em;
  font-size: 1.1em;
}

hr {
  border: 0px;
  border-top: 1px solid #000;
}

hr.dashed {
  border: 0px;
  border-top: 1px dashed #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
}

.font-secondary {
  font-family: "Sen", sans-serif;
}

.text-small {
  font-size: 0.9rem;
}

.text-muted {
  color: darkslategray;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-decoration-none {
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
  margin-top: 2em;
}

mark.post-date,
mark.highlight {
  background-color: #f74c00;
  color: #fff;
  padding: 5px 15px 5px 15px;
}

/* code blocks  */

.highlight {
  font-size: 1rem;
  padding: 5px;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

code.highlighter-rouge, mark.code, code {
  background-color: #F6F8FA;
  color: #000;
  letter-spacing: 2px;
  line-height: 1.75em;
  font-size: 1.1em;
  padding: 5px;
}

/* width  */
.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.column-count-is-2 {
  column-count: 2;
}

.word-wrap-anywhere { 
  word-wrap: anywhere;
}


/* colors */
.bg-light {
  background-color: #f6f8fa;
}

.bg-rust {
  background-color: #f74c00;
}

.text-white {
  color: #fff;
}

.color-py {
  background-color: #ffd343;
  color: #306998;
}

/* alignment */
.d-flex-space-between {
  justify-content: space-between;
}

.m-auto {
  margin: auto;
}

.d-table {
  display: table;
}

.text-center {
  text-align: center;
}

.valign-center {
  display:flex;
  align-items: center;
  justify-content: center;
}

.justify-center {
  justify-content: center;
  align-items: center;
}

.float-left {
  float: left;
}

/* margins and padding */

.padding-small {
  padding: 5px;
}

.vpad-small {
  padding: 5px 0;
}

.mb-1 {
  margin-bottom: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-4 {
  margin-top: 4em;
}

.pl-1 {
  padding-left: 1em;
}

.pl-2 {
  padding-left: 2em;
}

.pr-2 {
  padding-right: 2em;
}

.p-2 {
  padding: 2em;
}

.m-2 {
  margin: 2em;
}

.pr-1 {
  padding-right: 1em;
}

/* lists  */

ul.list-inline {
  list-style: none;
  display: inline-block;
  padding: 0;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-contributors {
  list-style: none;
  padding: 0;
}

.list-contributors li {
  border: 1px solid #000;
  display: inline-block;
  padding: 2px 10px 2px 10px;
  margin-right: 1em;
  margin-top: 1em;
}

.post-link {
  font-size: 1.2em;
}

.img-fluid {
  width: 100%;
}

.blog-content p > img , .blog-content img {
  max-width: 100%;
}

.post-date a {
  background-color: #000;
  color: #fff;
}

.border {
  border: 1px solid darkgray;
}

.border-bottom {
  border-bottom: 1px solid #000;
}

/* custom classes */
.title {
  font-family: "Sen", sans-serif;
  font-size: 3em;
}

.section-title {
  font-family: "Sen", sans-serif;
  font-size: 1.5em;
}

.logo {
  height: 80px;
}

.explainer-icon {
  height: 30px;
  margin-right: 5px;
}

.rustpy-name {
  padding: 5px 7px;
}

.goal {
  line-height: 1.5em;
}

.blog-intro, .benchmarks-intro {
  background-color: #f6f8fa;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* test results */

.results-test-header {
  background-color: #f8f8f8;
}

.results-test {
  margin-top: 50px;
  color: #000;
  border: 1px solid black;
  font-size: 1.1rem;
  word-wrap: anywhere;
}

.results-test-title {
  font-family: "Sen", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

.results-case {
  pointer-events: auto;
}

.results-case-list-item {
  background-color: white;
  color: #000;
}

/* flex table for results */
.tbl {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  flex: 4;
  border-bottom: 1px solid lightslategray;
  align-self: end;
}

.cell:nth-child(1) {
  flex: 2;
}

.cell:nth-child(2) {
  flex: 2;
}

.cell:nth-child(3) {
  flex: 1;
}

.row .cell {
  box-sizing: border-box;
  padding: 5px;
}

.case-result::after {
  padding: 5px;
}

.passed > .case-result::after {
  content: "🚀 👌";
}

.skipped > .case-result::after {
  content: "🤷‍♀️";
}

.expected_failure > .case-result::after {
  content: "😔";
}

/* filters */

.filter {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

.filter.active {
  background-color: #ffd43b;
}

/* classes used in the results summary */

.cell_summary {
  flex: 4;
  border-bottom: 1px solid white;
  align-self: end;
}
