---
layout: default
---

<!-- site title, logo and description -->
<!-- to update, edit the global site config.yaml -->
<section>
    <div class="w-100 m-auto mt-2">
        <div class="d-md-flex justify-center">
            <div class="d-sm-none"><img class="logo" src="{{site.baseurl}}/assets/img/rust-python-logo.svg"
                    alt="RustPython Logo">
            </div>
            <div class="w-md-25 pl-2">
                <div class="title">{{ site.title }}</div>
                <div class="">
                    <p>
                        {{ site.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- explainer image, paragraph and links to demos -->
<!-- to update, edit index.markdown file in the root folder  -->
<section>
    <div class="m-auto w-md-25 mt-2">
        <img class="img-fluid" src="{{site.baseurl}}/assets/img/explainer.jpg" alt="RustPython Explainer">
    </div>
    <div class="mt-md-4 mt-sm-2 w-md-50 m-auto">
        <p class="mt-md-4">
            {{ page.explainer }}
        </p>
    </div>
    <div class="text-md-center">
        <ul class="list-inline">
            {% for demo in page.demo %}
            <li class="float-left pr-1 mt-1"><a rel="noopener" rel="noreferrer" href="{{ demo.url }}"
                    target="_blank">{{ demo.label }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>

<!-- installation instructions -->
<!-- to update, edit the parameters in the index.markdown file -->
<section>
    <div class="text-center">
        <div class="section-title"> Installation</div>
        {% for install in page.installation %}
        <mark class="code d-table m-auto mt-1"> {{ install.command }} </mark>
        {% endfor %}
        <div class="mt-1"> <small><a rel="noopener" rel="noreferrer" href="{{ page.build-from-source-link }}"
                    target="_blank">OR BUILD FROM SOURCE</a> </small></div>
    </div>
</section>

<!-- goals and why rustpython -->
<!-- to update, edit the parameters in the index.markdown file -->
<section class="bg-light mt-2">
    <div class="w-md-80 m-auto">
        <div class="section-title">Goals</div>
        <div class="d-md-flex ">
            {% for goals in page.goals %}
            <div class="w-md-50 mt-2 goal bg-rust">
                <div class=" text-white p-2">
                    {{ goals.goal }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-md-flex  mt-2">
            <div class="w-md-50">
                {{ content }}
            </div>
            <div class="w-md-50 mt-2">
                <div class="border w-md-50 float-md-right mt-md-4 p-2">
                    <strong> Featured Posts </strong>
                    <!-- list of posts where category is "featured" -->
                    <ul class="list-unstyled">
                        {%- for post in site.categories.featured limit:3 -%}
                        <li class="mt-1"> <a href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a></li>
                        {%- endfor -%}
                    </ul>
                </div>

                <div class="border w-md-50 float-md-right mt-md-4 p-2">
                    <strong> Dashboard </strong>
                    <!-- list of posts where category is "featured" -->
                    <ul class="list-unstyled">
                        {%- for dashboard in site.dashboards -%}
                        <li class="mt-1"> <a href="{{ dashboard.url | relative_url }}"> {{ dashboard.title | escape }} </a></li>
                        {%- endfor -%}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- contributor list -->
<!-- to edit, update _data/contributors.json -->
<section>
    <div class="w-md-80 m-auto">
        <div class="section-title"> Contributors </div>
        <p class="w-80">{{ site.contributor_excerpt}}</p>
        <ul class="list-contributors">
            {% for contributor in site.data.contributors %}
            <li><a rel="noopener" rel="noreferrer" href="https://github.com/{{ contributor.github_username }}"
                    target="_blank">{{ contributor.github_username }}</a></li>
            {% endfor %}
        </ul>
        <div class="d-md-flex">
            <div class="pr-1 mt-1"><small><a href="https://github.com/RustPython/RustPython/graphs/contributors">VIEW
                        MORE</a></small></div>
            <div class="mt-1"><small><a href="https://github.com/RustPython/RustPython/#contributing">HOW TO
                        CONTRIBUTE</a></small></div>
        </div>
    </div>
</section>