---
layout: default
---

<!-- header section -->
<section class="bg-light">
    <div class="w-80 m-auto">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <mark class="post-date">{{ page.date | date: date_format }}</mark>

        <div class="section-title mt-1">{{ site.title }} Blog</div>
        <div class="title mt-sm-1"> {{ page.title | escape }}</div>
        <small>{{ site.blog-intro }}</small>
      </div>
</section>

<!--  content -->
<section>
  <div class="w-md-80 m-auto">
    <div class="w-md-80 blog-content">
        {{ content }}
    </div>
  </div>
</section>
