---
layout: default
---

<script src="/data/regrtests_results.json"></script>
<!-- header section -->
<section class="bg-light">
    <div class="w-80 m-auto">
        failed, passed, warning
    </div>
</section>

<!--  content -->
<section>
  <div class="w-md-80 m-auto">
    <div class="w-md-80">
        {% for test in site.data.regrtests_results.suites %}
          {% for result in test %}
            {% if result.name %} <div>name: {{result.name }}</div>  {% endif %}
            {% if result.class %} <div>class: {{result.class }}</div>  {% endif %}
            {% if result.module %} <div>module: {{result.module }}</div>  {% endif %}
            {% if result.description %} <div>description: {{result.description }}</div>  {% endif %}
                {% for cases in result.cases %} 
                <ul>
                    {% for case in cases %}
                        {% if case.casename %} <li>casename: {{case.casename }}</li>  {% endif %}
                        {% if case.method %} <li>method: {{case.method }}</li>  {% endif %}
                        {% if case.result %} <li>result: {{case.result }}</li>  {% endif %}
                        {% if case.caseexecutiontime %} <li>caseexecutiontime: {{case.caseexecutiontime }}</li>  {% endif %}
                    {% endfor %}
                </ul>
                {% endfor %}
          {% endfor %}
      {% endfor %}    
    </div>
  </div>
</section>


