---
layout: default
---

<div class="w-80 m-auto mt-2">
  <div class="d-md-flex">
    <div class="d-sm-none">
      <img class="logo" src="{{site.baseurl}}/assets/img/rust-python-logo.svg" alt="RustPython Logo">
    </div>
    <div class="pl-md-2">
      <div class="title">{{ site.title }}</div>
      <div class="section-title">{{ page.title }} </div>
    </div>
  </div>
</div>

<div class="w-80 m-auto mt-2">
  {{ content }}

  <div class="section-title">What's Left: Public Modules</div>
  <div class="column-count-is-2">
    <ol>
      {% for item in site.data.whats_left.modules %}
        {% assign firstchar = item.module | slice: 0 %}
        {% if firstchar != "_" %}
          <li class="word-wrap-anywhere"> {{ item.module }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>

  <div class="section-title">What's Left: Private Modules</div>
  <div class="column-count-is-2">
    <ol>
      {% for item in site.data.whats_left.modules %}
        {% assign firstchar = item.module | slice: 0 %}
        {% if firstchar == "_" %}
          <li class="word-wrap-anywhere"> {{ item.module }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>

  <div class="section-title">What's left: Built-in Items</div>
  {% assign items_by_builtin = site.data.whats_left.builtin_items | group_by: "builtin" %}
  {% for group in items_by_builtin %}
    <h4>{{ group.name }}</h4>
    <div class="column-count-is-2">
      <ol>
        {% for item in group.items %}
          <li class="word-wrap-anywhere"><code>{{ item.name }}</code>{% if item.is_inherited %} {{ item.is_inherited }}{% endif %}</li>
        {% endfor %}
      </ol>
    </div>
  {% endfor %}
</div>
